<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Language" content="pl,en" />
    <meta http-equiv="X-UA-Compatible" content="IE=8;FF=3;OtherUA=4" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portal randkowy dla dorosłych - bez zdjęć, nicków, telefonów... tylko wy i wasza tajemnica.">
    <meta name="keywords" content="portal randkowy, portal towarzyski, randki, 18+, seks, sex, randki online, seks randki, szukam chłopaka, szukam dziewczyny">
    <title>HookMe - portal randkowy dla dorosłych</title>
    @*@Styles.Render("~/Content/css")*@
    @*Zakomentowane i dodane ręcznie poniżej*@
     
    <link href="~/Content/bootstrap.min.css" type="text/css" rel="stylesheet" media="all" runat="server" />
    <link href="~/Content/site.css" type="text/css" rel="stylesheet" media="all" runat="server" />
    <link href="~/Content/ionicons.css" type="text/css" rel="stylesheet" media="all" runat="server" />
    <link href="~/Content/font-awesome.css" type="text/css" rel="stylesheet" media="all" runat="server" />    
    <link href="~/Content/animations.min.css" type="text/css" rel="stylesheet" media="all" runat="server" />
    <link href="~/Content/style-red.css" type="text/css" rel="stylesheet" media="all" runat="server" />
    @Scripts.Render("~/bundles/modernizr")
    
    <!--FACEBOOK SLIDER START
    <script src="http://www.hookme.pl/Scripts/bb_fbslider.js"></script>
    <!--FACEBOOK SLIDER END-->   
</head>
<body>
    <!--MENU SECTION START-->
    <div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu-section">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.hookme.pl">
                    <img src="~/Content/img/logo.png" width="200" alt="HookMe - portal randkowy dla dorosłych" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @{
                    string CurrentURL = Request.Url.AbsoluteUri;

                    if (CurrentURL.Count(x => x == '/') <= 3)
                    {
                        @:<ul class="nav navbar-nav navbar-right">
                            @:<li><a href="#home">HOME</a></li>
                            @:<li><a href="#plany">Kiedy ruszymy?</a></li>
                            @:<li><a href="#portalrandkowy">Czym jest HookMe?</a></li>
                            @:<li><a href="#partnerzy">Partnerzy</a></li>
                        @:</ul>
                    }
                    else
                    {
                        @:<ul class="nav navbar-nav navbar-right">
                            @:<li><a href="@Url.Action("Index","Home")#home">HOME</a></li>
                            @:<li><a href="@Url.Action("Index","Home")#plany">Kiedy ruszymy?</a></li>
                            @:<li><a href="@Url.Action("Index","Home")#portalrandkowy">Czym jest HookMe?</a></li>
                            @:<li><a href="@Url.Action("Index","Home")#partnerzy">Partnerzy</a></li>
                        @:</ul>
                    }
                }
            </div>

        </div>
    </div>
    <!--MENU SECTION END-->   
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)    
</body>
</html>
